@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

@font-face {
  font-family: 'Aleo Regular';
  src: url('aleo-regular-webfont.eot');
  src: local('☺︎'),
    url("aleo-regular-webfont.woff") format("woff"),
    url("aleo-regular-webfont.otf") format("opentype"),
    url("aleo-regular-webfont.svg#grablau") format("svg");
}

@font-face {
  font-family: 'Aleo Bold';
  src: url('aleo-bold-webfont.eot');
  src: local('☺︎'),
    url("aleo-bold-webfont.woff") format("woff"),
    url("aleo-bold-webfont.otf") format("opentype"),
    url("aleo-bold-webfont.svg#grablau") format("svg");
}
